<div class="span3">
                         <ul class="side-nav">
            <li ><a href="#" title="Back to Parent Page" class="cust" style="
background: #009dcd;
font-weight: bold;
color: #fff;
font-size: 14px;
padding: 14px 18px 15px 22px; 
width: 100%;">Our Amazing Products</a></li>
            
            <li class="<%= params[:action] == 'products' ? ('page_item page-item-250 current_page_item') : '' %>"><a href="/products">Study Gossip  <div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>

            <li class="<%= params[:action] == 'chti' ? ('page_item page-item-251 current_page_item') : '' %>"><a href="/chti">Chti - Logistic Software<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>

              <li class="<%= params[:action] == 'category_ebooks' ? ('page_item page-item-252 current_page_item') : '' %>"><a href="/category_ebooks">eBooks<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>



            <!--
            <li class="<%= params[:action] == 'security_legal' ? ('page_item page-item-252 current_page_item') : '' %>"><a  href="/security_legal">Legal Disclaimer<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>  

            <li class="<%= params[:action] == 'privacy_policy' ? ('page_item page-item-252 current_page_item') : '' %>"><a  href="/privacy_policy">Privacy Policy<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li> 

            <li class="<%= params[:action] == 'terms_conditions' ? ('page_item page-item-252 current_page_item') : '' %>"><a  href="/terms_conditions">Terms & conditions<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li> 

            <li class="<%= params[:action] == 'shipping' ? ('page_item page-item-252 current_page_item') : '' %>"><a  href="/shipping">Shipping<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li> 
											-->

                    </div>