<!--<form name="contactForm" class="standard-form row-fluid" action="" method="post">

<input class="span6" name="themeple_name" placeholder="Name"  type="text" id="themeple_name" value=""/>

<input class="span6" name="themeple_e-mail" placeholder="E-Mail"  type="text" id="themeple_e-mail" value=""/>

<input class="span6" name="themeple_subject" placeholder="Subject"  type="text" id="themeple_subject" value=""/>

 <textarea class="span12"  placeholder="Content"  name="themeple_content" cols="40" rows="7" id="themeple_content" ></textarea><p class="perspective">
 <input type="submit"  value="Send Message" class="custom_btn" /></p>
 </form>--> 

 <%= form_tag({:action => 'contact', :controller => 'homes'},:remote => true, :class => "standard-form row-fluid",:name=>"contactForm", :method=>"post", :id => "contact_form") do %>
              <%= text_field_tag :name, params[:name],:placeholder => "Name", :class=>"span6", required: true %>
            
              <%= text_field_tag :email, params[:email],:placeholder => "E-mail" ,:class=>"span6", required: true %>

              <%= text_field_tag :subject, params[:subject],:placeholder => "Subject", :class=>"span6", required: true %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <%= text_area_tag :message, params[:message],:placeholder => "Content" , :class=>"span12", :cols=>"40",:rows=>"7", required: true %>
            <div class="captcha-wrapper">
              <span id="captcha-first">
                <%= captcha_number %>
              </span>
              <span id="captcha-middle">
                <%= captcha_symbol %>
              </span>
              <span id="captcha-last">
                <%= captcha_number %>
              </span>
              <span> = </span>
            </div>
            <div class="captcha-error-msg"></div>
            <%= text_field_tag :captcha_result, nil, placeholder: 'result', class: 'captcha-input' %>
            <br/>
            <div class="span3">
              <%= submit_tag :submit, :id => "contact-button" ,:class=>"span3", :class=>"custom_btn" %>
            </div>
  <% end %>

<style>
  .error {
    color: red;
  }
</style>

  <script>
   $("#contact_form").validate();
  </script>