<div class="span3">
  <div id="widget_flickr-2" class="widget widget_flickr">
  <h6 class="widget-title">
  <span>Quick Contact</span>
  </h6>
  <div class="flickr_container">

  <%= form_tag({:action => 'contact', :controller => 'homes'},:remote => true, :class => "standard-form row-fluid",:name=>"contactForm", :method=>"post", :id => "quick_contact_form") do %>
              <%= text_field_tag :name, params[:name],:placeholder => "Name", :class=>"span6", required: true %>
            
              <%= text_field_tag :email, params[:email],:placeholder => "E-mail" ,:class=>"span6", required: true %>

              <%= hidden_field_tag :subject, "Hide",:placeholder => "Subject", :class=>"span6", required: true %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <%= text_area_tag :message, params[:message],:placeholder => "Content" , :class=>"span12", :cols=>"40",:rows=>"7", required: true %>
            <div class="span3">
            <%= submit_tag :submit, :id => "submit" ,:class=>"span3", :class=>"custom_btn" %></div>
  <% end %>

  </div>
  </div>                            
</div>

<style>
  .error {
    color: red;
  }
</style>

<script>
 $("#quick_contact_form").validate();
</script>