<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','../www.google-analytics.com/analytics.html','ga');

      ga('create', 'UA-40087279-6', 'themeple.co');
      ga('send', 'pageview');

    </script>

<div class="top_nav">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
          <div class="pull-left">
            <div id="widget_topnav-2" class="widget widget_topnav"><div class="search small_widget"><a href="#" class="getdata" data-box="search"><i class="moon-search-3"></i>Search</a><div class="top_nav_sub search"><form action="#" id="search-form">
              <div class="input-append">
                <input type="text" size="16" placeholder="Search&hellip;" name="s" id="s"><button type="submit" class="more">Search</button>
              </div>
            </form>
            </div>
            </div>
            <div class="login small_widget"><a href="#" data-box="login"><i class="moon-user"></i>Login</a>
            <div class="top_nav_sub login">             
              <div class="sub-loggin"> 
            <form action="#wp-login.php" method="post">
             <input type="text" name="log" id="log" value="" size="20" placeholder="Username" />
             <input type="password" name="pwd" id="pwd" size="20" placeholder="Password"/>
             <input type="submit" name="submit" value="Send" class="button" />
             <div class="check-login">  
                <label for="rememberme"><input name="rememberme" id="rememberme" type="checkbox" checked="checked" value="forever" /> Remember me</label>
              </div>
              <input type="hidden" name="redirect_to" value="/" />
           
          </form>
          <a href="wp-loginc2b6c2b6.html?action=lostpassword">Recover password</a> 
          </div>
          </div>
          </div>
         
          </div>
        </div>
        <div id="text-5" class="widget widget_text">
        <div class="textwidget"></div>
      </div>
      </div>
    </div>
    
    </div>
  </div>

<!-- Header -->
<div id="page-bg"></div>
<header id="header" class="header_2">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <!-- Logo -->
        <div id="logo" >
          <a href='/'><img src="/assets/img/media-clou-logo.png"></a>                        <span class="logo_desc"></span>
        </div><!-- #logo -->
        <div id="navigation" class="nav_top pull-right ">
        <!-- Menu Section -->
          <nav>
            <ul id="menu-menu" class="menu">
            <li class="<%= params[:action] == 'index' ?  ('current-menu-item current_page_item') : '' %>"><a href="/">Home</a></li>
            <li class="<%= params[:action] == 'about_us' ?  ('current-menu-item current_page_item') : '' %>"><a href="/about_us">About</a>
            
           </li>
           <li class="<%= params[:action] == 'services' ?  ('current-menu-item current_page_item') : '' %>"><a href="/services">Services</a>
           
       </li>
         <li class="<%= (params[:action] == 'cloud_services' || params[:action] == 'cloud_architech' || params[:action] == 'cloud_consultancy' || params[:action] == 'cloud_saas' || params[:action] == 'cloud_consult') ?  ('current-menu-item current_page_item') : '' %>"><a  href="/cloud_services">Cloud Services</a> 
          
       </li>
       <li class="<%= (params[:action] == 'application_development' || params[:action] == 'product_development' || params[:action] == 'saas_development' || params[:action] == 'product_support' || params[:action] == 'web_services_development' || params[:action] == 'web_design_development' || params[:action] == 'wireframe_development') ?  ('current-menu-item current_page_item') : '' %>"><a href="/application_development">Design & Development</a>
      
    </li>
    
  <li class="<%= (params[:action] == 'security_services' || params[:action] == 'security_cancel' || params[:action] == 'security_legal') ?  ('current-menu-item current_page_item') : '' %>"><a href="/security_services">Security Services</a></li>
   <li class="<%= params[:action] == 'contact' ?  ('current-menu-item current_page_item') : '' %>"><a href="/contact">Contact</a></li>
 </li>
</ul>
</nav>




</div><!-- #navigation -->


</div>
</div>



</div>
<span class="shadow"></span>
</header>